<header>
  <h1>紀念六四 - 1989年六四天安門事件追思</h1>
</header>
<main>
  <section class="light-group" aria-label="紀念訊息區">
    <% @messages.each do |message| %>
      <article class="light-box" itemscope itemtype="https://schema.org/Comment">
        <h2 itemprop="author"><%= message.name %></h2>
        <div class="txt" itemprop="text">
          <%= message.content %>
        </div>
      </article>
    <% end %>
  </section>
</main>
<footer>
  <button class="btn">開始紀念</button>
  <% if commenting_enabled? %>
    <%= link_to '留言', say_path, class: 'btn' %>
  <% end %>
  <a href="https://www.facebook.com/events/1089019929948553/" class="banner" target="_blank"><%= image_tag '64event.jpg' %></a>
  <p>本網站感謝以下組織、個人之貢獻：華人民主書院、Ginger、Iris、Joy Hsu、蕭新晟、雨蒼。</p>
</footer>