<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <title>紀念六四：線上悼念</title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <meta name="description" content="歡迎大家在此點起一支蠟燭，悼念六四。">
    <meta property="og:title" content="紀念六四：線上悼念">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://vigil.8964.memorial">
    <meta property="og:image" content="https://vigil.8964.memorial/static/og-image.png">
    <meta property="og:description" content="歡迎大家在此點起一支蠟燭，悼念六四。">
  </head>
  <body>
    <div class="all-wrap">
      <%= yield %>
    </div>
  </body>
</html>

